body {
  background: ghostwhite;
}

.main-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* animations with names */
@keyframes moving {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.items {
  background: gold;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: 900;
}

.items:nth-child(1) {
  border-radius: 100%;
  background-color: lavender;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(2) {
  border-radius: 100%;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(3) {
  border-radius: 100%;
  background-color: lavender;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(4) {
  border-radius: 100%;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(5) {
  border-radius: 100%;
  background-color: lavender;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(6) {
  border-radius: 100%;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(7) {
  border-radius: 100%;
  background-color: lavender;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(8) {
  border-radius: 100%;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

.items:nth-child(9) {
  border-radius: 100%;
  background-color: lavender;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.5s;
}

/* animations with bubbles */
.ani-bubbles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bubble {
  width: 3rem;
  height: 3rem;
  background: lawngreen;
  border-radius: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes animate-bubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
.x1, .x2, .x3 {
  animation: animate-bubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animate-bubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animate-bubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(2);
}

/*# sourceMappingURL=main.css.map */
